h1 {
    margin: 15px;
}
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}
.htmlPanel{
    background-color : lightgray;
}
.gwt-TabLayoutPanel{
    width: 90%;
    margin: 15px;
}
